<div class="connect-wallet-body" fxLayout="column" fxLayoutAlign="start center">
    <button class="header-button" mat-flat-button>
        <div class="button-space"  fxLayout="row" fxLayoutAlign="start center" routerLink="/">
            <mat-icon>keyboard_backspace</mat-icon><span class="space"></span><h4>My Wallet</h4>
        </div>
    </button>

    <img class="logo" src="assets/icons/wallet.png">

    <h3>Connect witch wallet</h3>

    <h5>Conect one of our available wallet providers or create a new one.</h5>

    <ng-container *ngIf="!isDesktop; else desktop">
        <div class="buttons" fxLayout="column" fxLayoutAlign="start center">    <!-- a little bit incorrect icons, :( -->
            <button class="option-button" (click)="disconect()" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/coinbase_small.png"><span class="space"></span><h4>Coinbase wallet</h4>
                </div>
            </button>
    
            <button class="option-button" (click)="connectWalletConnect()" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/walletconnect_small.png"><span class="space"></span><h4>WalletConnect</h4>
                </div>
            </button>
        </div>
    </ng-container>

    <ng-template #desktop>
        <div class="buttons" fxLayout="column" fxLayoutAlign="start center">    <!-- a little bit incorrect icons, :( -->
            <button class="option-button" (click)="connectMetamask()" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/metamask_small.png"><span class="space"></span><h4>Metamask</h4>
                </div>
            </button>
    
            <button class="option-button" (click)="disconect()" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/coinbase_small.png"><span class="space"></span><h4>Coinbase wallet</h4>
                </div>
            </button>
    
            <button class="option-button" (click)="connectWalletConnect()" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/walletconnect_small.png"><span class="space"></span><h4>WalletConnect</h4>
                </div>
            </button>
    
            <button class="option-button" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/formatic_small.png"><span class="space"></span><h4>Formatic</h4>
                </div>
            </button>
    
            <button class="option-button" mat-flat-button>
                <div class="button-space" fxLayout="row" fxLayoutAlign="start center">
                    <img class="icon" src="assets/icons/show_more_options.png"><span class="space"></span><h4>Show more options</h4>
                </div>
            </button>
        </div>
    </ng-template>
</div>
