.dialog-wrapper {
    height: 81%;
    .dialog-container {
        position: relative;
        min-height: 100%;

        .error-icon-container {
            text-align: center;
            width: 100%;
            margin-top: 44px;
            margin-bottom: 28px;
        }

        .content {
            padding-bottom: 11px;
        }

        .footer {
            position: absolute;
            width: 100%;
            bottom: 0px;
        }
    }
}