.content-wrapper {
    width: 100%;

    &.mobile {
        width: 100%;

        .content-mobile {
            padding-top: 25px;

            &.default {
                width: 90%;

                img {
                    width: 100%;
                    border-radius: 5%;
                }

                app-cards-section {
                    width: 100%;
                    height: 100%;
                }
    
            }
    
            &.extend {
                width: 100%;

                .banner {
                    width: 90%;

                    img {
                        width: 100%;
                        border-radius: 5%;
                    }
                }

                .content-sections {

                    .content-section {
                        width: 90%;
                        height: 100%;

                    }

                }
                
            }

        }
        
    }

    &.desktop {
        width: 100%;

    }
    
}

.banner {   // img
    border-radius: 5%;
}
