.wrapper {
    width: 100%;
    height: 90%;

    background-color: #ffffff;

    .body {
        width: 90%;

        .card-box {
            width: 100%;

            padding-top: 30px;

            mat-card {
                max-width: 518px;
            
                border-radius: 10px;
                padding-bottom: 0;
        
                img {
                    border-radius: 10px;
                    object-fit: cover;
            
                }
        
            }

            button {
                width: 25%;
                max-width: 250px;
                min-width: 50px;

                margin-top: 7%;
            }

        }

    }

}

h1 {
    margin: 0;
    padding-top: 15px;

    font-size: 60px;
    font-weight: 500;

    text-align: center;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
    width: 100%;

    font-size: 40px;
    font-weight: 400;

    text-align: left;
}

h3 {
    margin: 0;
    padding-top: 10px;
    width: 100%;
    max-width: 518px;

    font-size: 30px;

    text-align: left;
}

@media (max-width: 1600px) {
    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }
    
}

@media (max-width: 1200px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
    
}

@media (max-width: 800px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 15px;
    }
    
}

@media (max-width: 400px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 15px;
    }
    
}