<div class="body-wrapper">
    <mat-sidenav-container [hasBackdrop]="false">    <!-- (backDropClick)="backDrop()" ?-->
        <mat-sidenav class="nav-menu" [ngClass]="(!isExtend) ? 'default': 'extend'" #sidenav> <!-- found way to change action with backdrop -->
            <app-slide-menu (closeEvent)="close()"></app-slide-menu>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar class="header-container" color="primary">
                <app-slide-menu-button (clicked)="menuAction($event)"></app-slide-menu-button>
        
                <span class="header-spacer"></span>
        
                <div class="header-content">
                    <button *ngIf="!isLogged" mat-flat-button class="header-buttons" color="accent" routerLink="/login">Login</button>
                    <h1 *ngIf="isLogged">{{balance}}</h1>
                </div>
            </mat-toolbar>

            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</div>
