.body-wrapper {
    margin: 0 auto;
    width: 100%;

    .nav-menu {

        &.default {
            width: 100%;
            height: 590px;
        }

        &.extend {
            width: 40%;
            min-width: 375px;
            height: 100vh
            
        }
    }

    .header-container {
        position: fixed;
        width: 100%;
        height: 56px;
        z-index: 2;

        .header-spacer {
            flex: 1 1 auto;
        }
    }

    .content {
        padding-top: 56px;
        
    }

}
