<div class="lost-body" fxLayout="column" fxLayoutAlign="start center">
    <img class="logo" src="assets/icons/lost_pass.png">

    <h4>Lost password?</h4>

    <mat-divider></mat-divider>

    <h5>Ordering a new password is easy: 
        Enter the e-mail adress that you have registred. Click on Get new password. Folow the instruction in the e-mail.
    </h5>

    <form name="lostForm" [formGroup]="lostForm" (ngSubmit)="onSubmit(lostForm)" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="legacy">
            <mat-label i18n>Email</mat-label>
            <mat-error *ngIf="lostForm.get('username')?.hasError('required')" i18n>Please enter your email.</mat-error>
            <mat-error *ngIf="lostForm.get('username')?.hasError('email')" i18n>Please check your e-mail.</mat-error>
            <!-- <mat-error *ngIf="lostForm.get('username')?.errors?.serverError">
                {{ lostForm.get('username').errors?.serverError }}
            </mat-error> -->
            <input matInput type="text" formControlName="username">
        </mat-form-field>

        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">SUMBIT</button>
        </div>
    </form>

</div>
