<div class="item-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="item-body" fxLayout="column" fxLayoutAlign="start center">
        <div class="item-content" *ngIf="nft_data">
            <div class="item-image" fxLayout="column" fxLayoutAlign="center center">
                <img src="{{nft_data.meta.content[0].url}}">
            </div>

            <div class="item-buy" fxLayout="column" fxLayoutAlign="center center">
                <mat-card class="buy-card">
                    <mat-card-content>
                        <div class="price-box" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="box">
                                <h3>Price</h3>
                                <h2>101 ETH</h2>
                                <p>"value"</p>
                            </div>

                            <div class="box">
                                <h3>Floor bid</h3>
                                <h2>5 ETH</h2>
                                <p>"some user"</p>
                            </div>
                        </div>

                        <div class="buttons-box" fxLayout="column" fxLayoutAlign="start center">
                                <button mat-raised-button color="primary">Buy now</button>
                                <button mat-raised-button color="accent">Place Bid</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="item-info">
                <mat-accordion class="item-info-box" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Description</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>About</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Details</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="item-history">
                <mat-accordion class="item-info-box" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Price History</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Listings</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Ofers</p>
                        </mat-expansion-panel-header>

                        <p>Content</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="item-activity-history">
                <mat-accordion class="item-activity-history-box" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <p>Item Activity</p>
                        </mat-expansion-panel-header>
    
                        <p>Content</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="item-more">
                <swiper [config]="config" class="item-swiper">
                    <ng-template swiperSlide>
                        <div><h1>Hello</h1></div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div>Slide2</div>
                    </ng-template>

                    <ng-template swiperSlide>
                        <div>Slide3</div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>

