.item-wrapper {
    width: 100%;
    padding-top: 20px;

    .item-body {
        max-width: 1280px;
        width: 90%;

        .item-content {     /* for pic, sell opt, des, sell bid ord */
            width: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .item-image {
                flex: 50%;
                padding: 20px;

                img {
                    object-fit: cover;
                    max-width: 550px;
                    width: 100%;

                    border-radius: 5%;
                    margin: 30px;
                }

            }

            .item-buy {
                flex: 50%;
                align-self: center;
                padding: 20px;
                width: 100%;

                .buy-card {
                    max-width: 550px;
                    min-width: 230px;
                    width: 93%;

                    .price-box {
                        width: 100%;

                        .box {
                            width: 45%;

                            background-color: #dadada;
                            border-radius: 3%;

                            h3 {                        /* at this moment Ok */
                                margin: 0;
                                padding-top: 10px;
                                padding-left: 10px;

                            }

                            h2 {
                                margin: 0;
                                padding-top: 10px;
                                padding-left: 10px;

                            }

                            p {
                                margin: 0;
                                padding-top: 10px;
                                padding-left: 10px;
                                padding-bottom: 10px;

                            }

                        }

                    }

                    .buttons-box {
                        width: 100%;

                        padding-top: 10px;

                        button {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }

                }
                
            }

            .item-info {
                flex: 50%;
                height: 50%;

            }   

            .item-history {
                flex: 50%;
                height: 50%;

            }

        }

        .item-activity-history {
            width: 100%;
            height: 40vh;

            background-color: rgb(95, 67, 172);
        }

        .item-more {
            width: 100%;
            height: 40vh;

            background-color: rgb(162, 130, 212);
        }

    }

}

@media (max-width: 600px) {
    .item-wrapper {

        .item-body {

            .item-content {
                flex-direction: column;
                flex-wrap: nowrap;

                .item-image {
                    flex: 50%;
    
                    img {
                        /* max-width: 300px; */
                        margin: 0;

                    }
    
                }

            }

        }

    }
    
}