.home-wrapper {
    width: 100%;

    .home-body {
        width: 90%;
        max-width: 1280px;
        padding-top: 20px;

        display: grid;

        grid-template-columns: 50% 50%;
        grid-template-areas: 
        'top right'
        'left right'
        'text right'
        'bottom right';

        .banner-box {
            grid-area: top;

            display: flex;

            padding: 10px;

            .banner {
                width: 100%;
                max-width: 550px;
    
                object-fit: cover;
                border-radius: 10px;

                box-shadow: 3px 3px 3px #979797;
            }

        }

        .items-box {
            grid-area: right;

            padding: 10px;

        }

        .full-item-box {
            grid-area: left;

            padding: 10px;

            mat-card {
                max-width: 518px;
            
                border-radius: 10px;
                padding-bottom: 0;
        
                img {
                    border-radius: 10px;
                    object-fit: cover;
            
                }
        
            }
        }

        .action-box {
            grid-area: text;

            padding: 10px;

            h1 {
                margin: 0;

                font-size: 26px;
                text-align: center;
            }

            .buttons {
                width: 100%;

                padding-top: 40px;

                button {
                    height: 50px;
                    width: 30%;
                }

            }

        }
        
    }

}

@media (max-width: 600px) {
    .home-wrapper {

        .home-body {
            grid-template-columns: 100%;
            grid-template-areas: 
            'top'
            'top'
            'right'
            'right'
            'right'
            'left'
            'left'
            'text';

        }

    }
    
}
