<div class="home-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="home-body">
        <div class="banner-box" fxLayout="column" fxLayoutAlign="center center">
            <img class="banner" src="assets/banners/home_banner.png">
        </div>

        <div class="items-box" fxLayout="column" fxLayoutAlign="start center">
                <app-cards-section *ngFor="let section of sections" [section]="section" (_data)="onClick($event)"></app-cards-section>
        </div>

        <div class="full-item-box" fxLayout="column" fxLayoutAlign="start center">
            <mat-card *ngIf="_promotedNFT" class="mat-elevation-z4" (click)="onClick(_promotedNFT)">
                <mat-card-header>
                    <mat-card-title>{{_promotedNFT.meta.name}}</mat-card-title>
                  </mat-card-header>
                <img mat-card-image src="{{_promotedNFT.meta.content[0].url}}">
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </div>

        <div class="action-box" fxLayout="column" fxLayoutAlign="center center">
            <h1>Discover, collect, and sell extraordinary NFTs</h1>

            <div class="buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-raised-button color="accent" (click)="navigateCreate()">Create</button>
                <button mat-raised-button color="primary" (click)="navigateExplore()">Explore</button>
            </div>
        </div>
    </div>
</div>