.home-wrapper {
    width: 100%;
    
    .home-body {
        width: 100%;
        max-width: 1280px;

        .banner {
            width: 90%;
            max-width: 550px;

            margin: 20px;

            align-self: flex-start;

            object-fit: cover;
            border-radius: 5%;
        }

        .section-body {
            width: 90%;

            margin: 20px;

            align-self: flex-start;

            app-cards-section {
                width: 100%;
                height: 30%;
            }

        }

    }
    
}

@media (max-width: 600px) {
    .home-wrapper {
        
        .home-body {
    
            .banner {
                align-self: center;
            }
    
            .section-body {
                align-self: center;
            }
    
        }
        
    }
    
}