.home-wrapper {
    width: 100%;

    .home-body {
        width: 90%;
        max-width: 1280px;
        padding-top: 20px;

        display: grid;

        grid-template-columns: 50% 50%;
        grid-template-areas: 
        'top right'
        'left right'
        'left right'
        'bottom right';

        .banner-box {
            grid-area: top;

            display: flex;

            padding: 10px;

            .banner {
                width: 100%;
                max-width: 550px;
    
                object-fit: cover;
                border-radius: 5%;
            }

        }

        .items-box {
            grid-area: right;

            padding: 10px;

        }

        .full-item-box {
            grid-area: left;

            padding: 10px;

            mat-card {
                max-width: 518px;
            
                border-radius: 5%;
                padding-bottom: 0;
        
                img {
                    border-radius: 5%;
                    object-fit: cover;
            
                }
        
            }
        }
        
    }

}

@media (max-width: 600px) {
    .home-wrapper {

        .home-body {
            grid-template-columns: 100%;
            grid-template-areas: 
            'top'
            'top'
            'right'
            'right'
            'right'
            'left'
            'left';

        }

    }
    
}
