<div class="mint-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <form class="mint-body" [formGroup]="metadataForm">
        <span class="head" fxFlex="15%" fxLayout="column" fxLayoutAlign="space-evenly start">
            <h1>Create New NFT</h1>
            <h2>Multiple edition on Ethereum</h2>
        </span>

        <div class="wallet-box" fxFlex="20%" fxLayout="column" fxLayoutAlign="space-evenly start">
            <h3>Choose wallet</h3>
            <mat-card fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/test/eth_L.svg">
                <span fxLayout="column" fxLayoutAlign="start center">
                    <h3>0x45678987654e34567</h3>
                    <p>eth</p>
                </span>
            </mat-card>
        </div>

        <div class="file-box" fxFlex="40%" fxLayout="column" fxLayoutAlign="space-evenly start">
            <h3>Upload file</h3>

            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload">
                <mat-card fxLayout="column" fxLayoutAlign="center center">
                    <div *ngIf="!pre_nft" fxLayout="column" fxLayoutAlign="center center">
                        <h2>PNG, GIF, WEBP, MP4 or MP3.</h2>
                        <button mat-flat-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                            Choose File
                        </button> 
                    </div>

                    <img *ngIf="pre_nft" src="{{pre_nft.src}}">

                </mat-card>
            </div>
        </div>

        <div class="sell-opt" fxFlex="15%" fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                    <h3>Put on marketplace</h3>
                    <h4>Put your new NFT on Rarible's marketplace</h4>
                </div>
    
                <mat-slide-toggle (change)="toggle($event)"></mat-slide-toggle>
            </div>

            <div class="sell-body" *ngIf="isSale" fxLayout="column" fxLayoutAlign="start center">   <!-- here -->
                <div fxLayout="row">
                    <mat-card fxFlex="30%" class="opt" (click)="changeSaleOption(0)"><h3>Fixed Price</h3></mat-card>
                    <mat-card fxFlex="30%" class="opt" (click)="changeSaleOption(1)"><h3>Open For bids</h3></mat-card>
                    <mat-card fxFlex="30%" class="opt" (click)="changeSaleOption(2)"><h3>Timed auction</h3></mat-card>
                </div>

                <div class="price-box" *ngIf="saleOption == 0" fxLayout="row" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="80%" appearance="legacy">
                        <mat-label>Enter price for one piece</mat-label>
                        <input matInput formControlName="price">
                    </mat-form-field>

                    <mat-form-field fxFlex="20%" appearance="legacy">
                        <mat-select>
                            <mat-option value="ETH">ETH</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="collection-opt" fxLayout="column" fxLayoutAlign="start start">
            <h3>Choose collection</h3>

            <div class="collections" fxLayout="row">
                <mat-card fxFlex="30%" class="opt"><h3>Create</h3></mat-card>
                <mat-card fxFlex="30%" class="opt"><h3>Rarible</h3></mat-card>
                <!-- <mat-card></mat-card> -->  <!-- For each user collection add card -->
            </div>
        </div>

        <div class="metadata-opt" fxLayout="column" fxLayoutAlign="start start">
            <h3>Name</h3>
            <mat-form-field appearance="legacy">
                <mat-label>e. g. &quot;Redeemable T-Shirt with logo&quot;</mat-label>
                <input matInput formControlName="nftname">
            </mat-form-field>

            <h3>Description (optional)</h3>
            <mat-form-field appearance="legacy">
                <mat-label>e. g. &quot;After purchasing you'll be able to get the real T-Shirt&quot;</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="center start">
                <span>
                    <h3>Royalties</h3>

                    <mat-form-field appearance="legacy">
                        <mat-label>%</mat-label>
                        <input matInput>
                    </mat-form-field>
                </span>

                <span>
                    <h3>Number of copies</h3>

                    <mat-form-field appearance="legacy">
                        <mat-label>e. g. 10</mat-label>
                        <input matInput>
                    </mat-form-field>
                </span>
            </div>
        </div>

        <button mat-flat-button color="primary" type="submit" (click)="onSubmit(metadataForm)">Create</button>
    </form>
</div>
