.section-wrapper {
    padding-top: 20px;

    h1 {
        width: 100%;

        text-align: left;
        font-size: 24px;

        margin: 0;
    }

    .box {
        padding-top: 10px;
    }

    .more-button {
        /* height: 16px; */

        margin: 20px;

        color: #3C71CE;
        background-color: #fafafa;
        text-transform: uppercase;
        font-size: 14px;
    }

    mat-divider {
        width: 100%;
        padding-bottom: 20px;
    }

}
