.section-wrapper {

    h1 {
        width: 100%;

        text-align: left;

        margin: 0;
    }

    .box {
        padding-top: 10px;
    }

    .more-button {
        /* height: 16px; */

        margin: 20px;

        color: #3C71CE;
        background-color: #fafafa;
        text-transform: uppercase;
        font-size: 14px;
    }

    mat-divider {
        width: 100%;
        padding-bottom: 20px;
    }

}

@media (max-width: 2000px) {

    h1 {
        font-size: 32px;
    }
    
}

@media (max-width: 1200px) {

    h1 {
        font-size: 28px;
    }
    
}

@media (max-width: 900px) {

    h1 {
        font-size: 24px;
    }
    
}

@media (max-width: 600px) {

    h1 {
        font-size: 22px;
    }
    
}
