.dialog-container{
    position: relative;
    min-height: 100%;

    .confirm-icon-container {
        text-align: center;
        width: 100%;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
    }

    .content{
        padding-bottom: 11px;
    }

    .footer{
        width: 100%;
        bottom: 0px;
    }
}