mat-card {

    &.default {

        border-radius: 5%;
        padding-bottom: 0;

        img {
            border-radius: 5%;
            object-fit: cover;
    
        }

    }

    &.extend {

        border-radius: 5%;

        img {
            border-radius: 5%;
            object-fit: cover;
    
        }

    }

}
