mat-card {
    padding: 0;
    height: 95%;

    img {
        height: 100px;
        width: 100px;
        border-radius: 5%;
        margin: 0px;

    }

    mat-card-content {
        width: 100%;

        h3 {
            font-size: 9px;
        }
    }

}
