.mint-wrapper {
    width: 100%;
    height: calc(100vh - 56px);

    .mint-body {
        width: 80%;

        padding: 20px;

        mat-card {
            height: 265px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 5px;

            img {
                width: 64px;
                object-fit: cover;
            }

        }
        
    }

}

h1 {
    padding: 20px;
    margin: 0;

    font-weight: 600;
    font-size: 35px;
    font-family: inherit;
    

}

h2 {
    padding: 20px;

    text-transform: capitalize;
}

p {
    padding: 20px;
    margin: 0;
}

@media (max-width: 960px) {

    .mint-wrapper {
    
        .mint-body {
    
            mat-card {
                height: 80px;
    
                justify-content: left;
            }
            
        }
    
    }
    
}