<div class="mint-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="mint-body">
        <h1>Choose Blockchain</h1>

        <p>Choose the most suitable blockchain for your needs.
            You need to connect wallet for creation.
        </p>

        <div class="owned-body">
          <div fxLayout="row wrap" fxLayoutGap="20px grid">
            <div fxFlex.xl="33%" fxFlex.lg="33%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%" *ngFor="let item of chainOptions">
              <mat-card (click)="navigate(item)">
                <img src="{{item.icon}}">
                <h2>{{item.name}}</h2>
              </mat-card>
            </div>
          </div>
        </div>
    </div>
</div>
